* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}


.card-container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    background: linear-gradient(to right, #eafbea, #d2f5d2);
    
}

.card_image{
    width: 20vw;
    height: 28vh;
    border-radius: 30px;
    padding: 1vw;
    
}


.card{
    /* border: 1px solid yellow; */
    width: 20vw;
    border-radius: 5px;
    /* box-shadow: 0 0 3px 4px rgb(231, 217, 217); */
    margin: 2em;
    background-color: white;
}

.card_heading{
    /* border:1px solid magenta; */
    padding: 0 1vw 0 1vw;
    font-size: 22px;
    color: black;
    
}

.card_description{
    /* border: 1px solid brown; */
    font-size: 18px;
    padding: 0 1vw 0 1vw;
}
 .card-container a {
    color: black;
}

.card_image:hover {
    scale: 1.1 ;
}
.card_heading:hover{
    scale: 1.05;
}









/* Responsive */
@media (max-width: 768px) {

    .card-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    
    }
    .card{
        width: 20rem;
    }
    .card_image{
        width: 20rem;
    }
}
